{% extends 'sewedonation/base.html' %}

{% block content %}
    <div class="container px-5 py-3 text-md-center">
        <h5>
            Chtěli byste darovat doma šité oblečení pro nedonošeňátka? <br>
            Uvítáme jakékoli oblečení, avšak nejvíce nám teď schází kousky v těchto velikostech:
        </h5>
    </div> 
    <div class="row row-cols-1 row-cols-md-3 g-4 py-3">
    {% for item in three_lowest %}
    <div class="col">
        <div class="card p-3 shadow-sm">
            <img src="{{ item.image.url }}" class="card-img-top">
                <div class="card-body">
                    <h6 class="card-title">{{ item }}</h6>
                    <p class="card-text">Chybí {{ item.saldo|stringformat:"+d"|slice:"1:" }} ks.</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}