{% extends 'sewedonation/base.html' %}

{% block content %}
<div class="card mw-70">
    <h3 class="card-header text-center bg-secondary text-white">
        Registrace
    </h3>
    <div class="card-body">
        <form class="row g-3" action="{% url 'registration' %}" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label for="inputOrganisation_name" class="form-label">Název organizace</label>
                {{ form.organisation_name }}
            </div>
            <div class="col-md-6">
                <label for="inputContact_person" class="form-label">Kontaktní osoba</label>
                {{ form.contact_person }}
            </div>
            <div class="col-md-6">
                <label for="inputPhone" class="form-label">Telefon</label>
                {{ form.phone }}
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">E-mailová adresa</label>
                {{ form.email }}
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Heslo</label>
                {{ form.password }}
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Adresa (ulice, č. p., město, PSČ)</label>
                {{ form.address }}
            </div>
            <div class="col-12 text-center py-3">
                <button type="submit" class="btn btn-outline-light bg-secondary btn-lg">ZAREGISTROVAT</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
